@font-face {
    font-family: 'RedHatDisplay';
    src: url('font/RedHatDisplay-Black.ttf') format('truetype');
	font-weight: 800;
  	font-style: normal;
}
@font-face {
    font-family: 'RedHatDisplay';
    src: url('font/RedHatDisplay-ExtraBold.ttf') format('truetype');
	font-weight: 700;
  	font-style: normal;
}
@font-face {
    font-family: 'RedHatDisplay';
    src: url('font/RedHatDisplay-Bold.ttf') format('truetype');
	font-weight: 600;
  	font-style: normal;
}
@font-face {
    font-family: 'RedHatDisplay';
    src: url('font/RedHatDisplay-SemiBold.ttf') format('truetype');
	font-weight: 500;
  	font-style: normal;
}
@font-face {
    font-family: 'RedHatDisplay';
    src: url('font/RedHatDisplay-Medium.ttf') format('truetype');
	font-weight: 400;
  	font-style: normal;
}
@font-face {
    font-family: 'RedHatDisplay';
    src: url('font/RedHatDisplay-Regular.ttf') format('truetype');
	font-weight: 300;
  	font-style: normal;
}
@font-face {
    font-family: 'RedHatDisplay';
    src: url('font/RedHatDisplay-Light.ttf') format('truetype');
	font-weight: 200;
  	font-style: normal;
}
@font-face {
    font-family: 'RedHatDisplay';
    src: url('font/RedHatDisplay-BlackItalic.ttf') format('truetype');
	font-weight: 800;
  	font-style: italic;
}
@font-face {
    font-family: 'RedHatDisplay';
    src: url('font/RedHatDisplay-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 700;
  	font-style: italic;
}
@font-face {
    font-family: 'RedHatDisplay';
    src: url('font/RedHatDisplay-BoldItalic.ttf') format('truetype');
	font-weight: 600;
  	font-style: italic;
}
@font-face {
    font-family: 'RedHatDisplay';
    src: url('font/RedHatDisplay-SemiBoldItalic.ttf') format('truetype');
	font-weight: 500;
  	font-style: italic;
}
@font-face {
    font-family: 'RedHatDisplay';
    src: url('font/RedHatDisplay-MediumItalic.ttf') format('truetype');
	font-weight: 400;
  	font-style: italic;
}
@font-face {
    font-family: 'RedHatDisplay';
    src: url('font/RedHatDisplay-Italic.ttf') format('truetype');
	font-weight: 300;
  	font-style: italic;
}
@font-face {
    font-family: 'RedHatDisplay';
    src: url('font/RedHatDisplay-LightItalic.ttf') format('truetype');
	font-weight: 200;
  	font-style: italic;
}
