@min-width:600px;
@mid-width:800px;


@black: #121212;
@dark-gray:#363638;
@light-gray:#767676;
@lighter-gray:#e2e2e2;
@white:#ffffff;
@red:#e90b02;
@teal:#0bf591;
@yellow:#F2F021;
@navy:#003470;


body
{
	background:@black;
	overflow-y:scroll;
}
.cf:after 
{
  content: "";
  display: table;
  clear: both;
}

/*--------------------------------------------*/
/*HEADER*/
/*--------------------------------------------*/
header
{
	/*filter:grayscale(50%);*/
	position:fixed;
	background:@red;
	background-size:cover;
	min-width:@min-width;
	width:100vw;
	z-index:0;
	.container
	{
		position:relative;
		height:100vh;
		z-index:150;
	}
	h1
	{
		top:0;
		margin:0;
		position:absolute;
		width:100vw;
		font-family: "ff-good-headline-web-pro-con", sans-serif;
		font-size:68px;
		text-align:center;
		letter-spacing: -.02em;
		line-height:.5em;
		vertical-align:middle;
		color:@red;
		@media (orientation:portrait)
		{	
			top:5vh;
			@media (min-width: @min-width)
			{
				top:3vh;
				font-size:16vw;
			}
		}

		@media (min-width: @min-width) and (orientation:landscape)
		{	
			font-size:14vw;
		}

		#title
		{
			font-size:.5em;
		}
	}
}
#mech_wrap
{
	position:absolute;
	top:0;
	z-index:180;
	height:100vh;
	width:100vw;
	min-width:@min-width;
}
#rad_gradient	
{
	position:absolute;
	top:0;
	z-index:100;
	height:100vh;
	width:100vw;
	min-width:@min-width;
	/*background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0vw, rgba(255,255,255,0) 80%);*/ /* FF3.6-15 */
	/*background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 80%);*/ /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at bottom, rgba(20,237,118,1) 0%,rgba(255,255,255,0) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#ray_poly_controller
{
	position:absolute;
	top:0;
	display:block;
	width: 100%;
	min-width:@min-width;
	height: 100vh;
	z-index:199;
	polygon 
	{
		fill:@white;
		fill-opacity:0;
	}

}
#ray_poly 
{
	position:absolute;
	top:0;
	display:block;
	width: 100vw;
	min-width:@min-width;
	height: 100vh;
	z-index:110;
	polygon 
	{
		fill: @yellow;
		fill-opacity:0.4;
	}
}


/*--------------------------------------------*/
/*HEADERS*/
/*--------------------------------------------*/
h2
{
	display:inline-block;
	margin:0;
	font-family: "museo-sans-display";
	font-size:9vw;
	text-align:left;
	line-height:.8em;
	transform:rotate(0deg);
	color:@teal;

		@media (max-width: @mid-width)
		{
			font-size:66px;
		}
	
}
h3
{
	font-family: "museo-sans-display";
	font-size:3vw;
	text-align:left;
	line-height:1.2em;
			@media (max-width: @mid-width)
		{
			font-size:24px;
		}
}

/*--------------------------------------------*/
/*GENERICS*/
/*--------------------------------------------*/


.image_wrap
{
	position:absolute;
	z-index:500;
	width:60%;
	height:50vw;
}


.container_wrap
{
	overflow:hidden;
	width:100vw;
	min-width:@min-width;
	height:70vw;
	position:relative;
		@media (max-width: @min-width)
		{
			height:420px;
		}
	.container
	{
		position:absolute;	
		top:5vw;
		padding:2.5vw 20vw 0;
		height:50vw;
		width:140%;
		margin-left:-15vw;
		@media (max-width: @min-width)
		{

			top:30px;
			margin-left:-90px;
			padding:15px 120px 0;
			height:300px;
		}
	}
}

/*--------------------------------------------*/
/*WORK*/
/*--------------------------------------------*/



#work
{
	overflow:hidden;
	position:absolute;
	z-index:200;
	width:100%;
	min-width:@min-width;
	height:280vw;	
	top:100vh;
}


/*--------------------------------------------*/
/*DINO*/
/*--------------------------------------------*/
#dino
{
	.container
	{		
		 -ms-transform: rotate(3deg); 
		-webkit-transform: rotate(3deg); 
		transform: rotate(3deg);				
		background:@white;	
		.text
		{
			position:relative;
			-ms-transform: rotate(-5deg); 
			-webkit-transform: rotate(-5deg); 
			transform: rotate(-5deg);
			h3
			{
				transform:rotate(-1deg);
				color:@light-gray;
			}
		}
	}

}
.dino_image
{
	-ms-transform: rotate(-6deg); 
	-webkit-transform: rotate(-6deg); 
	transform: rotate(-6deg);
	top:18vw;
	left:35%;
	@media (max-width: @min-width)
	{
		top:108px;
		left:210px;
	}
	img
	{
		display:block;
		width:45%;
		box-shadow:rgba(40, 40, 40, 0.7) 0 5px 10px;
		position:absolute;
		&.front
		{
			z-index:200;
			left:40%;
			top:5vw;
		}
	}
}

/*--------------------------------------------*/
/*TOPDOSH*/
/*--------------------------------------------*/
#topdosh
{
	.container
	{		
		 -ms-transform: rotate(-3deg); 
		-webkit-transform: rotate(-3deg); 
		transform: rotate(-3deg);
		background:@navy;	
		.text
		{
			top:3vw;
			position:relative;
			-ms-transform: rotate(1deg); 
			-webkit-transform: rotate(1deg); 
			transform: rotate(1deg);
			h3
			{
				transform:rotate(0deg);
				color:@lighter-gray;
			}
		}
	}

}
.topdosh_image
{	
	left:32%;
	top:90vw;
	-ms-transform: rotate(-6deg); 
	-webkit-transform: rotate(-6deg); 
	transform: rotate(-6deg);
	@media (max-width: @mid-width)
	{
		left:240px;
	}
	@media (max-width: @min-width)
	{
		top:528px;
		left:240px;
	}
	img
	{
		display:block;
		width:70%;
		max-width:850px;
		box-shadow:rgba(20, 20, 20, 0.7) 0 5px 10px;
		&.front
		{
			z-index:200;
			position:absolute;
			left:20%;
			top:10vw;
		}
	}
}


/*--------------------------------------------*/
/*TWENTY*/
/*--------------------------------------------*/
#twenty
{
	.container
	{		
		 -ms-transform: rotate(3deg); 
		-webkit-transform: rotate(3deg); 
		transform: rotate(3deg);
		background:@white;	
		.text
		{
			position:relative;
			-ms-transform: rotate(-5deg); 
			-webkit-transform: rotate(-5deg); 
			transform: rotate(-5deg);
			h3
			{
				position:relative;
				transform:rotate(-1deg);
				color:@light-gray;
			}
		}
	}

}
.twenty_image
{
	left:38%;
	top:155vw;
	-ms-transform: rotate(-6deg); 
	-webkit-transform: rotate(-6deg); 
	transform: rotate(-6deg);
	@media (max-width: @min-width)
	{
		top:938px;
		left:228px;
	}
	img
	{
		display:block;
		width:70%;
		max-width:850px;
		box-shadow:rgba(20, 20, 20, 0.7) 0 5px 10px;
		&.front
		{
			z-index:200;
			position:absolute;
			left:20%;
			top:15vw;
		}
	}
}

/*--------------------------------------------*/
/*+1Fitness*/
/*--------------------------------------------*/
#fitness
{
	.container
	{		
		 -ms-transform: rotate(-3deg); 
		-webkit-transform: rotate(-3deg); 
		transform: rotate(-3deg);
		background:@navy;	
		.text
		{
			top:2.5vw;
			position:relative;
			-ms-transform: rotate(1deg); 
			-webkit-transform: rotate(1deg); 
			transform: rotate(1deg);
			h3
			{
				transform:rotate(0deg);
				color:@lighter-gray;
			}
		}
	}

}
.fitness_image
{	
	left:42.5%;
	top:232vw;
	-ms-transform: rotate(-6deg); 
	-webkit-transform: rotate(-6deg); 
	transform: rotate(-6deg);
	@media (max-width: @min-width)
	{
		top:1404px;
		left:255px;
	}
	img
	{
		display:block;
		width:85%;
		max-width:850px;
		box-shadow:rgba(20, 20, 20, 0.7) 0 5px 10px;
	}
}


footer
{
	position:absolute;
	bottom:0;
	
	.container
	{
		background:@white;
		width:100vw;
	}
}