@min-width:480px;
@mid-width:960px;
@max-width:1400px;


@black:#181818;


@dark-gray: #242424;
@gray:#bababa;

@light-gray:#e0e0e0;

@off-white:#f4f4f4;
@white:#f9f9f9;




body
{
	font-family: "mr-eaves-xl-modern";
	color:@black;
	background:@white;
	overflow-y:scroll;

	@media (max-width:480px)
	{
		font-size:1.5em;
		zoom:.65;
	}
}


.cf:after 
{
  content: "";
  display: table;
  clear: both;
}

/*--------------------------------------------*/
/*Preload*/
/*--------------------------------------------*/

#preload_container
{
	width:100%;
	height:100vh;
	position:fixed;
	top:0;
	background:@off-white;
	line-height:100vh;
	text-align:center;


}
#preload_message
{
	vertical-align:middle;
	font-weight:800;
	padding:20px;
	border:1px solid @gray;
	color:@gray;
	display:inline-block;
	line-height:1em;
	letter-spacing:2px;
    animation: pulse 1s infinite alternate;
	position:relative;
	top:-3vh;
}
@-moz-keyframes pulse
 { 
  from {
		padding:40px;
		} 
}
@-webkit-keyframes pulse 
{ 
  from {
		padding:40px;
		} 
}
@keyframes pulse 
{ 
  from {
		padding:40px;
		} 
}
/*--------------------------------------------*/
/*HEADER*/
/*--------------------------------------------*/


#page_home
{
	header
	{
		position:relative;
		padding:50px;
		h1 
		{
				font-size:1em;
				font-weight:300;
				text-align:center;
				letter-spacing:1px;
		}
	}
}
#rh_logo
{
	display:block;
	width:50px;
	margin:0 auto;
	fill:@black;
}

header
{
		background:@white;
}
h1 
{	
	margin:0;
	font-family: "mr-eaves-xl-modern";
	font-size:2.25rem;
	line-height:1em;
}
h2
{
}


/*--------------------------------------------*/
/*Structure*/
/*--------------------------------------------*/

.outer
{
	min-width:@min-width;
}
.inner
{
	max-width:@max-width;
	margin:0 auto;
	padding:40px;
}


.section_header_container
{
	letter-spacing:1px;
	.section_header_left
	{
		float:left;
		width:50%;
	}
	.section_header_right
	{
		float:right;
		width:50%;
		text-align:right;
	}
}


/*--------------------------------------------*/
/*gallery*/
/*--------------------------------------------*/

.gallery
{
	list-style: none;
	padding:0 20px;
	li
	{		
		display:block;
		float:left;
		width:~"calc(50% - 40px)";
		cursor:zoom-in;	
		margin:16px;
		padding:2px;
		background:@light-gray;

	}
	img
	{
		display:block;
		width:100%;
		&:hover
		{
			opacity:0.5;
			-webkit-transition: opacity 0.5s ease 0s;
			-o-transition: opacity 0.15s ease 0s;
			transition: opacity 0.15s ease 0s;
		}
	}
}

.gallery-4
{
	li
	{
		@media (min-width:@mid-width)
		{
			width:~"calc(25% - 40px)";
		}
	}
}
.gallery-1
{
	li
	{
		width:~"calc(100% - 40px)";
	}
}


/*--------------------------------------------*/
/*featured*/
/*--------------------------------------------*/
#featured
{	
	background:#181818;
	.inner
	{
		padding:40px 40px 0;
	}
	.featured_image
	{
		background-position:center;
		background-repeat:no-repeat;
		background-image:url('../img/reach_brochure/preview.jpg');
		min-height:440px;
		@media (orientation:portrait)
		{
			width:100%;
			background-size:cover;
		}
		@media (orientation:landscape)
		{
			height:60vh;
			background-size:contain;
		}
		img
		{
			display:block;
			visibility:hidden;
			@media (orientation:portrait)
			{
				width:100%;
			}
			@media (orientation:landscape)
			{
				height:60vh;
			}	
		}
	}
	.featured_link
	{
		padding:0 20px 0 2px;
		line-height:1em;
		display:inline-block;
		background:@white;
		text-decoration:none;
		&:hover
		{
			color:@white;
			background:#3d484e;
		}
	}
	.section_header_container
	{		
		color:@white;
	}
}


/*--------------------------------------------*/
/*work*/
/*--------------------------------------------*/
#work
{
	background:@light-gray;
	.inner
	{
		padding:40px 40px 80px;
	}
}

#work_gallery
{
	margin-top:40px;
	li
	{
		background:@gray;
	}
}



/*--------------------------------------------*/
/*footer*/
/*--------------------------------------------*/

footer
{
	.inner
	{
		padding:0 40px;
	}
	.section_header_container
	{
		
	}
	.section_header_left 
	{
		line-height:80px;
		letter-spacing:1px;
		.title
		{
			display:inline-block;
			margin:0;
			vertical-align:middle;
			font-size:1.25em;
			color:@black;
			text-decoration:none;
			&:hover
			{
				color:#999;
			}
		}
	}
	.section_header_right
	{
		line-height:80px;
	}
	.nav-social
	{
		a
		{
			display:inline-block;
			vertical-align:middle;
			height:32px;
			text-decoration:none;
			color:@black;
			&:hover
			{
				color:#999;
			}
			i
			{
				vertical-align:top;
			}
		}
	}
}



/*--------------------------------------------*/
/*page_process*/
/*--------------------------------------------*/
#page_process
{
		background-image: url('../img/reach_brochure/bg.jpg');
		background-attachment:fixed;
		background-size:cover;
		background-position:center center;
	p, li
	{
		font-size:1.12em;
	}
	p
	{
		margin:60px 0;
	}

}

#process_hero
{
	background-color:#7eafc8;
	background-image: url('../img/reach_brochure/brochure_top.jpg');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	min-width:@min-width;
	img
	{
		display:block;
		width:100%;
		max-height:500px;
		visibility:hidden;
	}
}

#process_main
{
	padding-top:80px;
	background:rgba(126, 175, 200, 0.95);
}
#background_display{
	height:80vh;
}
.moodboard
{
	display:block;
	max-width:100%;
}
.process_section
{
	background-image: url('../img/bg_line.jpg');
	background-repeat:repeat-y;
	background-position:center;
	margin-bottom:160px;
	.process_section_title
	{
		text-align:center;
		h2
		{
			display:inline-block;
			padding:25px;
			font-weight:300;
			background:@white;
			letter-spacing:5px;
			font-size:1.125em;
			margin:0;
		}
	}
}


.process_outer
{
	width:100%;
	.process_inner
	{
		background:@off-white;
		box-shadow:rgba(0, 0, 0, 0.2) 0px 5px 30px;
	}
	&.left
	{
		margin-top:80px;
		max-width:800px;
		float:left;
	}
	&.right
	{
		margin-top:80px;
		max-width:800px;
		float:right;
	}
	&.final
	{
		margin-top:160px;
		float:left;		
	}
}

.process_header
{
	letter-spacing:1px;
	font-size:1em;
	font-weight:800;
	.process_step
	{
		float:left;
		padding:20px;
		background:@dark-gray;
		color:@white;
	}
	.process_title
	{
		width:50%;
		float:right;
		text-align:right;
		margin:20px;
	}
}


.process_content
{
	padding: 0 40px 56px;
}

.process_return_link_large_container
{
	text-align:center;
	
	margin:0 auto 120px;
}
.process_return_link_large
{
	display:inline-block;
	padding:20px;
	border:2px solid @white;
	color:@white;
	text-decoration:none;
	letter-spacing: 2px;
	&:hover
	{
		background:@white;
		color:rgba(126, 175, 200, 1);
	}


}


.process_return_link_small
{
	font-size:1em;
	display:inline-block;
	padding:8px 8px 6px 10px;
	margin:10px;
	text-decoration:none;
	border:1px solid @white;
	color:@white;
	letter-spacing: 1px;
	position:absolute;
	&:hover
	{
		background:@white;
		color:rgba(126, 175, 200, 1);
	}

}