body {
  background: #fff;
  overflow-y: scroll;
}
#header .logo {
  display: block;
  width: 200px;
  margin: 120px auto;
}
#header .intro {
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
  text-align: center;
}
.container {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}
#work {
  padding: 80px 0;
}
#work h1 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 32px;
}
#work a {
  color: #10678e;
  text-decoration: none;
  font-weight: 700;
}
#work a:hover {
  color: #808080;
}
#work .work-container .thumb-row:after {
  content: " ";
  display: block;
  clear: both;
}
#work .work-container .thumb-row .thumb {
  position: relative;
  background: #fff;
  width: 220px;
  height: 220px;
  float: left;
  margin: 10px;
  cursor: pointer;
}
#work .work-container .thumb-row .thumb .overlay {
  position: absolute;
  top: 0;
  width: 220px;
  line-height: 220px;
  opacity: 0;
}
#work .work-container .thumb-row .thumb .overlay:hover {
  opacity: 1;
}
#work .work-container .thumb-row .thumb .overlay .overlay-text {
  width: calc(100% - 20px);
  padding: 0 10px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 1em;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
}
#work .work-container .detail-container .thumb-pointer {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #1e1f1f;
  margin-top: 40px;
}
#work .work-container .detail-container .thumb-pointer[data-column="0"] {
  margin-left: 110px;
}
#work .work-container .detail-container .thumb-pointer[data-column="1"] {
  margin-left: 350px;
}
#work .work-container .detail-container .thumb-pointer[data-column="2"] {
  margin-left: 590px;
}
#work .work-container .detail-container .thumb-pointer[data-column="3"] {
  margin-left: 830px;
}
#work .work-container .detail-container .detail {
  width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
  margin-bottom: 80px;
  border-top: 1px solid #1e1f1f;
  border-bottom: 1px solid #1e1f1f;
}
#work .work-container .detail-container .detail .text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #1e1f1f;
  margin-bottom: 80px;
}
#work .work-container .detail-container .detail .slides img {
  display: block;
  max-width: 100%;
  margin: 0 auto 40px;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
.hidden {
  display: none;
}