html
{
height:100%:
}

body
{
	background:#000;
	margin:0;
	overflow-y:scroll;
	height:100%:
}
body.no-scroll
{
	overflow-y:hidden;
}
header img
{
	display:block;
	padding:5em 0;
	margin:0 auto;
	width:90%;
	max-width:800px;
}
footer
{
	text-align: center;
	padding:5em 0;
}
footer a
{
	color:#fff;
	text-decoration: none;
	margin:0 .125em;
	display: inline-block;
	opacity:.8;
}
footer a:hover
{
	opacity:1;
}

.gallery-container
{
	margin:0 auto;
	max-width: 2400px;
}
.gallery-button
{
	box-sizing: border-box;
	display:block;
	width:100%;
	float:left;
	margin:0;
	padding:0;
	border:none;
	cursor:pointer;
	position:relative;
	overflow: hidden;
}
@media (min-width:781px)
{
	.gallery-button
	{
		width:50%;
	}
}
@media (min-width:1281px)
{
	.gallery-button
	{
		width:33.33%;
	}
}
.gallery-button h1
{
	font-size:1.5em;
}
.gallery-button h2
{
	font-size:1em;
}
.gallery-button img
{
	display:block;
	width:100%;
	margin:0;
	padding:0;
}
.gallery-button .label-overlay
{
	opacity:0;
	width:80%;
	padding:50% 20%;
	background:rgba(0,0,0,0.75);
	text-align: center;
	position:absolute;
	top:50%;
	left:50%;
	z-index:50;
	transform: translate(-50%, -50%);
}
.gallery-button .label-overlay .label
{
	color:#fff;
	font-size:2em;
}
.gallery-button .label-overlay:hover
{
	animation-name: gallery-hover;
	animation-duration: .35s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}
@keyframes gallery-hover
{
	from {opacity:0;}
	to {opacity:1;}
}



/* Helper */
.clearfix:after
{
	display: block;
	content: "";
	clear: both;
}
.sr-only
{
	position: absolute;
	margin: -1px 0 0 -1px;
	padding: 0;
	display: block;
	width: 1px;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
	outline: 0;
}

/*
	Rich Cverlay
*/

#rich-overlay
{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	z-index:500;
	overflow-y: scroll;
	top: 0; left: 0; right: 0; bottom: 0;
}
#rich-overlay .rich-overlay-outer
{
	box-sizing: border-box;
	display:none;
	background-color:rgba(0,0,0,0.9);
	width:100%;
	min-height:100vh;
	top: 0; left: 0; right: 0; bottom: 0;
	padding-top:4em;
}
#rich-overlay .rich-overlay-inner
{
	width:calc(100% - 40px);
	max-width:1280px;
	margin:auto;
	z-index:500;
}
#rich-overlay .rich-overlay-exit
{
	display:block;
	border:none;
	background:none;
	color:#fefefe;
	cursor:pointer;
	font-size:24px;
	position:absolute;
	top:15px;
	right:15px;
}
@media (min-width:721px)
{
	#rich-overlay .rich-overlay-inner
	{
		width:80%;
	}
	#rich-overlay .rich-overlay-exit
	{

		top:25px;
		right:25px;
	}
}

#rich-overlay .rich-overlay-exit:hover, #rich-overlay .rich-overlay-exit:focus
{
	color:red;
}

#rich-overlay .rich-overlay-footer
{
	width:80%;
	max-width:1440px;
	padding:1.5em 0 2em;
	margin:auto;
	z-index:500;
	text-align: center;
}
#rich-overlay .back-to-top
{
	font-family: 'Yantramanav', sans-serif;
	border:none;
	padding:.75em 1em .5em;
	color:#fff;
	font-size:1em;
	letter-spacing: 2px;
	line-height: 1;
	background:none;
	cursor: pointer;
}
#rich-overlay .back-to-top:hover
{
	opacity:.5;
}
