@import "fonts.css";

video {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
}
#project header nav
{
	text-align: center;
}
#project header nav .name
{
	float:none;
	display: inline-block;
}

#project h2
{
	margin:0 0 .5em;

	font-size:.75em;
	font-weight: 600;
	letter-spacing: 1px;
	color:#a9a9a9;
}
#project h3
{
	font-size:1.5em;
}
#project p
{
	line-height: 1.65;
}


#project .intro
{
	max-width:880px;
	margin:0 auto;
	padding:120px 20px 100px;
}
	#project .intro .intro-info
	{
		padding:0 0 1em;
	}
		@media(min-width:721px)
		{
			#project .intro .intro-info
			{
				float:left;

				width:200px;
				padding:.65em 20px 0 0;
			}
		}
		#project .intro .intro-info ul
		{
			padding:0;
			margin:0 0 1.5em;

			list-style: none;
			line-height: 1.5;
		}
	#project .intro .intro-copy
	{
	}
		@media(min-width:721px)
		{
			#project .intro .intro-copy
			{
				float:left;

				width:calc(100% - 220px);
			}
		}
		#project .intro .intro-copy p
		{
			line-height: 1.65;
		}

	.divider
	{
		height:2px;
		background:#eee;
		width:100%;
	}

.center-img
{
	display: block;

	max-width: 100%;
	margin:0 auto;

}


.project-copy
{
	max-width:880px;
	margin:0 auto;
	padding:100px 20px 20px;
}



#project-footer a
{
	display:block;

	font-weight:600;
	text-decoration: none;
	color:#111;

	transition:1s all ease-out;
}
	#project-footer a:hover
	{

	}
	#project-footer a:nth-child(1)
	{
		float:left;
	}
	#project-footer a:nth-child(2)
	{
		float:right;
	}
